<%- include('../partials/header.ejs')%>
    <main>
        <% categories.forEach(category=> { %>
            <h1>
                <%= category %>
            </h1>
            <br>
            <div class="row">
                <% let itemsInCategory=trades.filter(trade=> trade.category === category); %>
                    <% if (itemsInCategory.length) { %>
                        <% itemsInCategory.forEach(trade=> { %>
                            <div class="column">
                                <a href="/trades/<%= trade.id %>">
                                    <div class="card">
                                        <img src="<%= trade.image %>" alt="<%= trade.itemName %>">
                                        <h3>
                                            <%= trade.itemName %>
                                        </h3>
                                        <h4>
                                            Status: <%= trade.status %>
                                        </h4>
                                        <p>
                                            Click to view details
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <% }); %>
                                <% } else { %>
                                    <p>There are no <%= category.toLowerCase() %> items to display.</p>
                                    <% } %>
            </div>
            <% }); %>
    </main>
    <%- include('../partials/footer.ejs')%>