<%- include('../partials/header.ejs')%>
    <main>
        <%if(trade) {%>
            <div class="trade-item">
                <img src="<%= trade.image %>" alt="<%= trade.itemName %>">
                <div class="item-details">
                    <h1><%= trade.itemName %></h1>
                    <h2>Category: <%= trade.category %></h2>
                    <h2>Status: <%= trade.status %></h2>
                    <br>
                    <h4>Posted on: <%= trade.createdAt %></h3>
                    <h3>Details:</h3>
                    <p><%= trade.details %></p>
                </div>
            </div>
            <% if(user && user._id.toString() === trade.owner.toString()){ %> <!-- Check if user is not null and is the owner -->
                <form class="form-buttons">
                    <button type="submit" formmethod="get" formaction="/trades/<%= trade.id %>/edit">Edit</button>
                    <button type="submit" formmethod="post" formaction="/trades/<%= trade.id %>?_method=DELETE">Delete</button>
                </form>
            <% } else { %>
                <form class="form-buttons">
                    <% if(user && user.watchlist.includes(trade._id)) { %> <!-- Check if user is not null and the trade is in the user's watchlist -->
                        <button type="submit" formmethod="post" formaction="/trades/<%= trade.id %>/watch?_method=DELETE">Unwatch Trade</button>
                    <% } else { %> <!-- If the user is not logged in or the trade is not in the user's watchlist, show the Watch Trade button -->
                        <button type="submit" formmethod="post" formaction="/trades/<%= trade.id %>/watch">Watch Trade</button>
                    <% } %>
                    <button type="submit" formmethod="get" formaction="/trades/<%= trade.id %>/offer">Make Offer</button>
                </form>
            <% } %>
        <%} else {%>
            <p>The trade item could not be found.</p>
        <%}%>
    </main>
<%- include('../partials/footer.ejs')%>
